@font-face
{
    font-family: 'varelaRound';
    src: url(../fonts/varelaround-regular-webfont.eot);
    src: url(../fonts/varelaround-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/varelaround-regular-webfont.woff2) format('woff2'),
         url(../fonts/varelaround-regular-webfont.woff) format('woff'),
         url(../fonts/varelaround-regular-webfont.ttf) format('truetype'),
         url(../fonts/varelaround-regular-webfont.svg#varela_roundregular) format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 , h2 , h3 , h4 , h5 , p , a , span
{
    font-family: 'varelaRound';
    letter-spacing:2px;
    font-weight:100;
}
body
{
    direction: rtl;
    background-image: url('../images/bodyBG.jpg');
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-attachment:fixed;
}

/*home page*/
#homeContainer
{
    width: 960px;
    margin:0 auto;
}
#mainHeader
{
    color:white;
    text-align: center;
    padding:50px 120px 65px 120px;

}
#mainSign
{
    background-image: url('../images/sign.png');
    width:170px;
    height:170px;
    background-size:150px;
    background-repeat:no-repeat;
    background-position-x:center;
    margin:0 auto;
    margin-bottom:30px;
}
#mainHeader h1
{
    font-size:55pt;
    margin-bottom:10px;
}
#mainHeader h2
{
    font-size:24pt;
}
#firstNav div
{
    display:inline-block;
}
#mainWork
{
    float:right;
    margin-right:220px;
}
#mainAbout
{
    float:left;
    margin-left:220px;
}
#firstNav a
{
    display:block;
    width:165px;
    color:white;
    border: 4px double #8c5d5d;
    border-radius: 17px;
    background-color:rgba(121, 68, 68, 0.52);
    font-size:20pt;
    padding:40px 20px;
    text-align:center;
    text-decoration:none;
}
#firstNav a:hover
{
    background-color:rgba(222, 141, 141, 0.32);
}
#firstNav a:active
{
    background-color: rgba(255, 145, 145, 0.32);
}

/*all pages*/
#container
{
    width:960px;
    margin: 0 auto;
    margin-top:15px;
    background-color:rgba(25, 0, 0, 0.7);
}
#container header
{
    background-image: url('../images/sign.png');
    background-size: 70px;
    background-repeat:no-repeat;
    background-position:875px;
    color:white;
    padding:10px 3px;
}
#container h1
{
    font-size:25pt;
    margin-right:100px;
    padding:20px 0px 7px 0px;
}
#container h2
{
    font-size:15pt;
    margin-right:100px;
    padding-bottom:10px;
}
#content
{
    padding:30px 15px;
    color:white;
    clear:both;
}
#content h3
{
    font-size:17pt;
    margin-bottom:15px;
    font-weight:800;
    text-align:right;
}
#content h4
{
    font-size:15pt;
    text-align:right;
}
#content p
{
    font-size:12pt;
    margin:15px 0px;
    line-height:140%;
}

/*main navigation*/
#mainNav
{
    margin-bottom:10px;
}
#mainNav ul
{
    list-style:none;
}
#mainNav ul li
{
    display:inline-block;
    float:right;
}
#mainNav ul li a
{
    display:block;
    width: 320px;
    text-align: center;
    font-size: 13pt;
    text-decoration:none;
    background-color: #330303;
    color: white;
    padding:9px 0px;
    -webkit-box-shadow:inset 0 0 25px 1px rgba(102, 55, 22, 0.73) , inset 0 0 1px 0px rgb(124, 92, 76);
    box-shadow:inset 0 0 25px 1px rgba(102, 55, 22, 0.73) , inset 0 0 1px 0px rgb(124, 92, 76);
}
#mainNav ul li a:hover
{
    background-color:#420909;
}
#mainNav ul li a:active
{
    background-color:#500505;
}
#mainNav ul li a.mainSelected
{
    background-color:#3e0404;
    -webkit-box-shadow:inset 0 0 25px 1px rgba(162, 56, 56, 0.73) , inset 0 0 1px 0px rgb(124, 92, 76);
    box-shadow:inset 0 0 25px 1px rgba(162, 56, 56, 0.73) , inset 0 0 1px 0px rgb(124, 92, 76);
}

/*about*/
#info
{
    display:inline-block;
    width: 650px;
}
#info section
{
    margin-bottom:35px;
}
#Image
{
    display:inline-block;
    margin:70px 35px;
    vertical-align:top;
}
#Image img
{
    width:200px;
    height:200px;
}
#facebook
{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url('../images/facebookSymbol.png');
    background-size:30px;
    background-repeat:no-repeat;
}
#facebook:hover
{

    background-position-y:-30px;
}
#facebook:active
{
    background-position-y:-60px;
}
#gmail
{
    width: 50px;
    height: 30px;
    display: inline-block;
    background-image: url('../images/gmailSymbol.png');
    background-size:39px;
    background-repeat:no-repeat;
}
#gmail:hover
{

    background-position-y:-31px;
}
#gmail:active
{
    background-position-y:-61.5px;
}

/*work navigation*/
#sideNav
{
    display:inline-block;
    width:215px;
    vertical-align:top;
}
#sideNav ul
{
    list-style:none;
}
#sideNav ul li
{
    display:block;
    width: 215px;
}
#sideNav ul li a
{
    display:block;
    text-align:center;
    font-size:12pt;
    text-decoration:none;
    background-color:rgba(83, 11, 11, 0.40);
    color:white;
    padding:15px 10px;
    -webkit-box-shadow:inset 0 0 25px 0px rgba(131, 19, 19, 0.77);
    box-shadow:inset 0 0 25px 0px rgba(131, 19, 19, 0.77);
    border-radius:7px;
    margin-top:3px;
}
#sideNav ul li a:hover
{
    background-color:rgba(76, 18, 18, 0.75);
}
#sideNav ul li a:active
{
    background-color:rgb(76, 18, 18);
}
#sideNav ul li a.workSelected
{
    background-color:rgba(83, 11, 11, 0.61);
    -webkit-box-shadow:inset 0 0 25px 0px rgba(177, 102, 102, 0.7);
    box-shadow:inset 0 0 25px 0px rgba(177, 102, 102, 0.7);
}

/*works*/
#workInfo
{
    display:inline-block;
    width:690px;
    padding:0px 10px;
}
#content #workInfo h3
{
    text-align:center;
    margin-bottom:10px;
}
#content #workInfo h4
{
    margin:20px 0px;
}
/*tikshoret hazutit*/
#workInfo #workCreators
{
    margin-right:97px;
    font-size:10pt;
    margin-top:5px;
}
#takshachImage
{
    display:block;
    margin: 0 auto;
    width:500px;
    height:355px;
    overflow:hidden;
}
#takshachImage img
{
    width:500px;
    position:relative;
}
#takshachImage:hover img
{
    bottom:357px;
}
#takshachImage:active img
{
    bottom:713px;
}
#originalImage
{
    display:block;
    width:400px;
    height:300px;
    margin:0 auto;
}
#video iframe
{
    display:block;
    margin:0 auto;
}
/*Irgun Yeda*/
#irgunYedaImage
{
    display: block;
    width: 500px;
    height: 353px;
    margin: 0 auto;
    overflow:hidden;
}
#irgunYedaImage img
{
    width:500px;
    position:relative;
}
#irgunYedaImage:hover img
{
    bottom:353.5px;
}
#irgunYedaImage:active img
{
    bottom:707px;
}
audio
{
    margin: 20px 200px -10px 200px;
}
/*graphica*/
#graphicImage
{
    display: block;
    width: 266px;
    height: 380px;
    margin: 0 auto;
    overflow:hidden;
}
#graphicImage img
{
    height:380px;
    position:relative;
    left:537px;
}
#graphicImage:hover img
{
    left:268.5px;
}
#graphicImage:active img
{
    left:0px;
}